
.descuento {
background-color: aquamarine;
width: 1024px;
height: 38px;
flex-shrink: 0;
box-sizing: border-box;
margin: 0%;
}

.colo-des{
position: relative;
top: 10px;
left: 27px;
color:black;
font-size: 15px;
font-family: 'Roboto', sans-serif;
font-weight: 400;
line-height: 17.58px;

}
.titulo {
position: relative;
top:-27px;
   border: 1px sold;
background-color: #00669F; 
    width: 1024px;
   height: 101px;
   flex-shrink: 0;
   box-sizing: border-box;
   margin: 0%;
   box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}

.colo-he{
    position: relative;
    top: 30px;
    left: 28px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 46.88px;
}

.container{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    width: 1024px;
    height: 800px;
    margin: 80px 20 px;
}

.caja-hija{ 
    position: relative;
    width: 300px;
    height: 530px;
    align-content: center;
    margin: 15px;
    flex-shrink: 0;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.fondo{
    position: relative;
    width: 300px;
    height: 193px;
}

.imagen{
    position: relative;
    top: -75px;
    left: 85px;
    width: 125px;
    border-radius: 50%;
}

.corazon{
    position: relative;
    top: -52%;
    right: 38%;
    width: 30px;
    height: 30px;
}

.descripcion{
    position: relative;
    top: -120px;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 16 px;
    font-weight: 400px;
    text-align: center;
    padding: 10px;

}
.boton{
    position: relative;
    top: -100px;
    right: -10px;
    background: #00669F;
    color: white;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 120px;
    height: 50px;
    margin: auto;
    padding-top: 13px;
    box-sizing: border-box;
}

.boton2{
    position: relative;
    top: -120px;
    right: -10px;
    background: #00669F;
    color: white;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 120px;
    height: 50px;
    margin: auto;
    padding-top: 13px;
    box-sizing: border-box;
}

.separación{
    height: 150px;
}

h3{
    position: relative;
    top: -95px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;   
    line-height: 35.16px;
    text-align: center;
}

.footer{
    position: relative;
    bottom: 100%;
    background: #00669F;
    width: 1010px;
    height: 51px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 2px;
    margin: 10px;
}

.colo-fot{
    position: relative;
    top:-10px;
    left:20px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400px;
    text-align:left;
}